@import 'nib'

body
  background #efefef
  margin 0
  padding 0

.navbar
  background #303030
  color #eee
  padding 0.416666em
  position relative
  text-align center

.brand
  font-size 1.5em

.navbar-btn
  absolute top 0.333em right 0.333em
  background #404040
  border 1px solid #000
  border-radius 3px
  color #eee
  padding 0.333em
  text-decoration none

.container
  padding 0 10%

.input
  padding 0.333em 0
label
  display inline-block
  width 6em
  color #404040


//@media screen and (min-width 480px)

//html
//  background #606060

body
  height 568px
  //min-width 320px
  //max-width 100%
  width: 320px
  box-shadow 0 3px 6px rgba(0,0,0,0.5)

