
.slide-panel
  button.slide-handle(aria-label='Add Item', ng-click='toggleForm()'): span.slide-text &plus;
  form.slide-content
    h1 I am lending out...
    div.input.input-photo
      label.visuallyhidden(for='photo') Photo
      input(name='photo', type='file', ng-model='create.photo')
    div.input
      label.visuallyhidden(for='name') Name
      input(name='name', required, ng-model='create.name', placeholder='Name')
    div.input
      label.visuallyhidden(for='lendy') Lend to
      input(name='lendy', required, ng-model='create.borrowedTo.name', placeholder='Lendy')
    fieldset
      legend.visuallyhidden Lend to contact details
      div.input
        label.visuallyhidden(for='borrowedTo[address]') Address
        input(name='borrowedTo[address]', ng-model='create.borrowedTo.address', placeholder='Address')
      div.input
        label.visuallyhidden(for='borrowedTo[phone]') Phone
        input(name='borrowedTo[phone]', ng-model='create.borrowedTo.phone', placeholder='Phone')
    button.btn.btn-submit(ng-click='create.add()', ng-disabled='form.$invalid || submitting') Lend item


.list-view
  //-h1 Current Lends
  //-a.btn(href='#', ng-click='lends.removeAll()', ng-show='lends.length != 0') Remove all

  ul
    li(ng-show='lends.length == 0')
      div: strong You currently have no lends.
    li(ng-repeat="lend in lends")
      div: strong {{lend.name}}
      div
        b {{ lend.borrowedTo.name }}
        span {{ lend.borrowedTo.address }}
      a.btn(href='#', ng-click='lends.remove($index)') &times;

